.name {
    font-size: 6rem;
    color: rgb(126, 8, 132);
    position:absolute;
  	bottom: 30px;
    text-align: center;
    padding: 3rem;
    font-family: monospace;
  }
body{
    background-color:#ebd9fc
}
#block1{
    margin:2rem;
    font-size:1.5rem;
    padding:1rem;
    font-family:monospace;
    color:rgb(126, 8, 132);
    display:inline-flex;
}

.block2{
    font-size:2rem;
    font-family: monospace;
    background-color:rgb(126,8,132);
    border-color: #ebd9fc;
    border-style: dashed;
    color:#ebd9fc;
    margin:2rem;
    padding:1rem;
    display:inline-flex;

}
a {
    all: unset;
}
